nextflow.enable.types = true
workflow.output.mode = 'copy'

profiles {
    test {
        apptainer.enabled = true
        params.assembly = "${projectDir}/data/test_split.fasta"
        params.reads1 = "${projectDir}/data/lib1.1.fastq"
        params.reads2 = "${projectDir}/data/lib1.2.fastq"
        params.ignore_end_distances = 100
        params.threads = 5
    }
    auto1 {
        apptainer.enabled = true
        params.assembly = "${projectDir}/data/auto1/contigs.fasta"
        params.reads1 = "${projectDir}/data/auto1/R1.fastq"
        params.reads2 = "${projectDir}/data/auto1/R2.fastq"
    }

    auto2 {
        apptainer.enabled = true
        params.assembly = "/home/kameron/valet/VALET/test2/contigs.fasta"
        params.reads1 = "/home/kameron/valet/VALET/test2/R1.fastq"
        params.reads2 = "/home/kameron/valet/VALET/test2/R2.fastq"
        params.ignore_end_distances = 100
        params.threads = 5
    }

    auto3 {
        apptainer.enabled = true
        params.assembly = "/home/kameron/valet/VALET/test3/contigs.fasta"
        params.reads1 = "/home/kameron/valet/VALET/test3/R1.fastq"
        params.reads2 = "/home/kameron/valet/VALET/test3/R2.fastq"
        params.ignore_end_distances = 0
        params.suspicious_flank_size = 0
        params.threads = 5
    }

    auto4 {
        apptainer.enabled = true
        params.assembly = "/home/kameron/valet/VALET/test3/line2/contigs.fasta"
        params.reads1 = "/home/kameron/valet/VALET/test3/line2/R1.fastq"
        params.reads2 = "/home/kameron/valet/VALET/test3/line2/R2.fastq"
        params.ignore_end_distances = 0
        params.suspicious_flank_size = 0
        params.threads = 5
    }

    real1 {
        apptainer.enabled = true
        params.output_dir = "/home/kameron/valet/VALET/test2/real1"
        params.assembly = "/home/kameron/valet/VALET/sequences/real_tests/SRR36551866/assembly/final.contigs.fa"
        params.reads1 = "/home/kameron/valet/VALET/sequences/real_tests/SRR36551866/trimmed_1.fq"
        params.reads2 = "/home/kameron/valet/VALET/sequences/real_tests/SRR36551866/trimmed_2.fq"
        params.ignore_end_distances = 100
        params.threads = 4

        trace {
            enabled = true
            file = "trace.txt"
            overwrite = true
        }
    }

    test_cluster {

        apptainer.enabled = true
        params.output_dir = "/home/kameron/valet/VALET/test2/real1"
        params.assembly = "/home/kameron/valet/VALET/sequences/real_tests/SRR36551866/assembly/final.contigs.fa"
        params.reads1 = "/home/kameron/valet/VALET/sequences/real_tests/SRR36551866/trimmed_1.fq"
        params.reads2 = "/home/kameron/valet/VALET/sequences/real_tests/SRR36551866/trimmed_2.fq"
        params.ignore_end_distances = 100
        params.threads = 4

        process{
            executor = 'local'
            
            withName: RUN_BOWTIE {
                cpus = params.threads
                memory = 16.GB
            }
        }
    }

}