nextflow.enable.types = true
workflow.output.mode = 'copy'

apptainer.enabled = true

profiles {

    // Profile used to run multiple assemblies at once
    multiple {
        params.ignore_end_distances = 100
        params.threads = 5
    }
    
    // Test profile to run with provided test data
    test {
        params.assembly = "${projectDir}/data/test_split.fasta"
        params.reads1 = "${projectDir}/data/lib1.1.fastq"
        params.reads2 = "${projectDir}/data/lib1.2.fastq"
        params.ignore_end_distances = 100
        params.suspicious_flank_size = 0
        params.threads = 5

        outputDir = "${projectDir}/output"

        trace {
            enabled = true
            file = "trace.txt"
            overwrite = true
        }
    }

    // Example parameters to run valet on a cluster -> sets time and memory limits for each process
    cluster {

        params.threads = 16

        process{
            executor = 'slurm'

            withName: FILTER_CONTIGS {
                memory = 8.GB
                time = 1.h
            }
            
            withName: RUN_BOWTIE {
                time = 4.h
                memory = 24.GB
            }

            withName: CONTIG_LENGTHS {
                time = 30.m
                memory = 8.GB
            }

            withName: RUN_SAMTOOLS {
                time = 4.h
                memory = 24.GB
            }

            withName: CONTIG_COVERAGE {
                memory = 8.GB
                time = 1.h
            }

            withName: SPLIT_PILEUP {
                memory = 8.GB
                time = 1.h
            }

            withName: DEPTH_OF_COVERAGE {
                memory = 8.GB
                time = 1.h
            }

            withName: MERGE_BEDS_COVERAGE {
                memory = 4.GB
                time = 30.m
            }

            withName: BREAKPOINT_SPLITTER {
                memory = 8.GB
                time = 2.h
            }

            withName: BREAKPOINT_FINDER {
                memory = 16.GB
                time = 4.h
            }

            withName: BREAKPOINT_BED_SORT {
                memory = 4.GB
                time = 30.m
            }

            withName: BIN_READS_AND_CONTIGS{
                memory = 32.GB
                time = 4.h
            }

            withName: RUN_BWA {
                memory = 1.GB
                time = 30.m
                maxForks = 50
            }

            withName: SAM_TO_BAM {
                memory = 1.GB
                time = 10.m
                maxForks = 50
            }

            withName: MATE_PAIR_CHECKER {
                memory = 1.GB
                time = 30.m
                maxForks = 50
            }

            withName: MERGE_BEDS_MATE_ERROR {
                memory = 1.GB
                time = 30.m
            }

            withName: GENERATE_SUMMARY {
                memory = 2.GB
                time = 1.h
            }

            withName: FIND_SUSPICIOUS_REGIONS {
                memory = 2.GB
                time = 1.h
            }
        }
    }

}